<div id="restaurant-page">
    <!-- Restaurant Header Section -->
    <div class="restaurant-top-section" style="background-image:url({{vm.restaurant.featured_image}});">
        <div class="container">
            <div class="restaurant-top-inner">
                <div class="detail">
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="detail-header">
                                <div class="detail-header-inner">
                                    <h3>{{ vm.restaurant.name }}</h3>
                                    <p class="location">
                                        <i class="fa fa-map-marker"></i>
                                        {{ vm.restaurant.location.address }}
                                    </p>
                                    <div class="rating-wrapper">
                                        <div class="rating-item" style="background:#{{vm.restaurant.user_rating.rating_color}}">
                                            {{ vm.restaurant.user_rating.aggregate_rating }}<span>/5</span>
                                        </div>
                                        <div class="texting">
                                             based on {{ vm.restaurant.user_rating.votes }} votes
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="action-triggers">
                                <button class="btn btn-success">Order Online</button>
                                <button class="btn btn-danger">Add a Review</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="resturant-middle-section">
        <div class="container">
            <div class="row">
                <!-- Resturant Detail Section -->
                <div class="col-sm-8">
                    <div class="container-fluid resturant-detail-section" id="restaurant-overview">
                        <div class="row">
                            <div class="col-xs-12">
                                <h3>Overview</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 thumb-img">
                                <div ng-if="vm.restaurant.thumb">
                                    <img ng-src="{{ vm.restaurant.thumb }}" alt="" class="m-b-5 img-rounded img-thumbnail">
                                </div>
                                <div ng-if="!vm.restaurant.thumb">
                                    <img ng-src="/assets/img/img-not-available.jpg" alt="" class="m-b-5 img-rounded img-thumbnail">
                                </div>
                                <a href="{{vm.restaurant.photos_url}}" target="_blank" class="view-more">View more photos</a>
                                <button class="btn btn-block btn-meesho m-t-10 m-b-20">Book a table</button>
                            </div>
                            <div class="col-sm-8">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="overview-description-item">
                                            <label>Phone Numbers</label>
                                            <!-- Zomota Api doesn't give mobile numbers -->
                                            <span class="text phone-number"><a href="tel:+919911221076">9911221076</a></span>
                                        </div>
                                        <div class="overview-description-item">
                                            <label>Cuisines</label>
                                            <span class="text">{{ vm.restaurant.cuisines }}</span>

                                        </div>
                                        <div class="overview-description-item">
                                            <label>Cost</label>
                                            <div class="help-text">AVERAGE</div>
                                            <span class="text"><i class="fa fa-inr"></i> {{ vm.restaurant.average_cost_for_two }}, for two people (approx.)</span>
                                            <div class="help-text">VAT & service charge extra</div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="overview-description-item">
                                            <label>Services Available</label>
                                            <!-- Zomato Api doesn't provide available services also -->
                                            <ul class="list-unstyled">
                                                <li class="available">Home Delivery</li>
                                                <li class="available">Liquor Available</li>
                                                <li class="available">Air Conditioned</li>
                                                <li class="available">Wifi</li>
                                                <li class="not-available">Catering</li>
                                                <li class="not-available">Take Away</li>
                                                <li class="available">Smoking</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Review Section -->
                    <div class="container-fluid resturant-detail-section" id="resturant-reviews">
                        <div class="row">
                            <div class="col-xs-12">
                                <h3>Reviews <span class="badge" ng-if="vm.reviews.reviews_count">{{ vm.reviews.reviews_count }}</span></h3>
                            </div>
                            <div class="col-xs-12">
                                <ul class="list-unstyled review-list">
                                    <li class="review-container" ng-repeat="rev in vm.reviews.user_reviews track by $index">
                                        <div class="row">
                                            <div class="col-sm-2">
                                                <div class="review-user-info">
                                                    <img ng-src="{{rev.review.user.profile_image}}" alt={{rev.review.user.name}} class="img-circle img-thumbnail" ng-if="rev.review.user.profile_image">
                                                    <img ng-src="/assets/img/img-not-available.jpg" alt={{restaurant.name}} ng-if="!rev.review.user.profile_image">
                                                    <div class="user-content">
                                                        <span class="user-name">{{rev.review.user.name}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-10">
                                                <p class="review-text">{{rev.review.review_text}}</p>
                                                <span class="review-time">{{rev.review.review_time_friendly}}</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="review-container" ng-if="!vm.reviews.user_reviews.length">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="alert alert-info">Seems, no one revieved yet. Be a champ and write a review.</div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-xs-12 text-center" ng-if="vm.reviews.reviews_count > vm.reviews.reviews_shown">
                                <button class="btn btn-primary">Load More Reviews</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Related Search Section -->
                <div class="col-sm-4">
                    <p class="related-search-text">Related Search</p>
                    <ul class="list-unstyled search-result">
                        <li ng-repeat="restaurant in vm.relatedSearch track by $index">
                            <div class="row">
                                <div class="col-xs-12 resturant-card">
                                    <div class="thumb-img">
                                        <a ng-click="vm.openResturant(restaurant.id)">
                                            <img ng-src="{{restaurant.thumb}}" alt={{restaurant.name}} ng-if="restaurant.thumb">
                                            <img ng-src="/assets/img/img-not-available.jpg" alt={{restaurant.name}} ng-if="!restaurant.thumb">
                                        </a>
                                    </div>
                                    <div class="content">
                                        <div class="cuisines nowrap">{{ restaurant.cuisines | ellipse : 30}}</div>
                                        <div class="title"><a ng-click="vm.openResturant(restaurant.id)">{{ restaurant.name }}</a></div>
                                        <div class="locality">{{ restaurant.location.city }}</div>
                                        <div class="address nowrap">{{ restaurant.location.address }}</div>
                                        <div class="rating-section">
                                            <div class="rating-point" style="background:#{{restaurant.user_rating.rating_color}}">{{restaurant.user_rating.aggregate_rating}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li ng-if="!vm.relatedSearch.length && !vm.loading">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="alert alert-info">Seems, no other resturant found near this location.</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
